@import "header.css";
@import "burger.css";
@import "intro.css";
@import "history.css";
@import "project.css";
@import "services.css";
@import "popup.css";
@import "feedback.css";
@import "gallery.css";
@import "contacts.css";
@import "footer.css";
@import "headers.css";
@import "nav.css";
@import "buttons.css";

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.body_fixed{
    overflow: hidden;
}

main{
    background: #ffffff;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 30px;
}
section {
    margin: 0 auto;
    max-width: 1150px;
    padding-top: 150px;
}
.section-long{
    padding-bottom: 150px;
}
.container-black{
    background-color: #121212;
    color: #fff;
}

h1,
h2, 
h3, 
p, 
a, 
ul, 
li, 
button, 
div{
  letter-spacing: -0.03em;
}

button{
    font-family: inherit;
    cursor: pointer;
}
@media (max-width: 1199px) {
    section{
        padding: 120px 15px 0 17px;
    }
    .section-long{
        padding-bottom: 90px;
    }
    .container{
        padding: 30px 15px 0 17px;
    }
}
@media (max-width: 767px) {
    section{
        padding: 80px 12px 0 13px;
    }
    .container{
        padding: 30px 15px 0 17px;
      }
}


 
